@import 'tailwindcss';

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: oklch(0.968 0.007 247.896);
  --color-secondary: #000080;
  --color-secondary-hover: #000cffff;
  --color-dark: #222;
}

* {
  font-family: theme('fontFamily.sans');
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
